<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
   <link id="lnkFavicon" rel="icon" type="image/jpg" href="images/loogo.jpg">
  <title>Startup Grievance Redressal Portal</title>

  
  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- Slick Carousel -->
  <link rel="stylesheet" href="plugins/slick/slick.css">
  <link rel="stylesheet" href="plugins/slick/slick-theme.css">
  <!-- FancyBox -->
  <link rel="stylesheet" href="plugins/fancybox/jquery.fancybox.min.css">
  
  <!-- Stylesheets -->
  <link href="css/style.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/1.css">
  <link rel="stylesheet" type="text/css" href="css/form.css">
  <link rel="stylesheet" type="text/css" href="css/util.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  
  <!--Favicon-->
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">

</head>


<body>
  <div class="page-wrapper">
    <!-- Preloader -->
    <!-- <div class="preloader"></div> -->
    <!-- Preloader -->
    

<!--header top-->
<div class="header-top">
      <div class="container clearfix">
            <div class="top-left">
                  <h6></h6>
            </div>
            <div class="top-right">
                  <ul class="social-links">
                        <li>
                              <a href="#">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                              </a>
                        </li>
                        <li>
                              <a href="#">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                              </a>
                        </li>
                        <li>
                              <a href="#">
                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                              </a>
                        </li>
                        <li>
                              <a href="#">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                              </a>
                        </li>
                        <li>
                              <a href="#">
                                    <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                              </a>
                        </li>
                  </ul>
            </div>
      </div>
</div>
<!--header top-->

<!--Header Upper-->
<section class="header-uper">
      <div class="container clearfix">
        <div class="row">                   
          <div class="col-md-6">
                        <div>
                          <div class="row">
                            <div class="col-md-2">
                              <img  class="national_emblem" src="https://dipp.gov.in/sites/all/themes/dipp/images/emblem-dark.png" alt="national emblem">
                            </div>

                            <div class="col-md-10"style="font-size: 20px" >
                                <strong lang="hi">उद्योग संवर्धन और आंतरिक व्यापार विभाग</strong>
                                                <br><p style="font-size: 20px">
                                              Department for Promotion of Industry and <br>Internal Trade</p>
                            </div>
                          
                                          
                          </div>
                              
                        </div>
                  </div>


                    <div class="right-side col-md-6">
                          <ul >
                                <li> 
                                      <div class="logo">
                                      <figure>
                                    <a href="newfile.html">
                                          <img src="images/Startup-GP-logo-1.png" alt="" width="240"style="float: right;">
                                          <strong style="font-size: 20px"><span style="float: right;">GRIEVANCE REDRESSAL PORTAL</span> </strong>
                                    </a>
                                    </figure>
                                        </div>
                                </li>
                          
                          </ul>
                        
                    </div>
                </div>
      </div>
</section>
</div>
<!--Main Header-->
<nav class="navbar navbar-default">
      <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                  </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                        <li class="active">
                              <a href="/">Home</a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">INFORMATION CELL
                                    <span class="caret"></span>
                              </a>
                              <ul class="dropdown-menu">
                                    <li>
                                          <a href="#"style="color: #3d3d3d">...</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                          <a href="submit gre.html"style="color: #3d3d3d">...</a>
                                    </li>
                                    <li role="separator" class="divider"style="color: #3d3d3d"></li>
                                    <li>
                                          <a href="#" style="color: #3d3d3d">...</a>
                                    </li>
                                   
                              </ul>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ECOSYSTEM
                                    <span class="caret"></span>
                              </a>
                              <ul class="dropdown-menu">
                                    <li>
                                          <a href="#"style="color: #3d3d3d">...</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                          <a href="submit gre.html"style="color: #3d3d3d">...</a>
                                    </li>
                                    <li role="separator" class="divider"style="color: #3d3d3d"></li>
                                    <li>
                                          <a href="#" style="color: #3d3d3d">...</a>
                                    </li>
                                   
                              </ul>
                        </li> 
                       <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">NOTIFICATION
                                    <span class="caret"></span>
                              </a>
                              <ul class="dropdown-menu">
                                    <li>
                                          <a href="#"style="color: #3d3d3d">...</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                          <a href="submit gre.html"style="color: #3d3d3d">...</a>
                                    </li>
                                    <li role="separator" class="divider"style="color: #3d3d3d"></li>
                                    <li>
                                          <a href="#" style="color: #3d3d3d">...</a>
                                    </li>
                                   
                              </ul>
                        </li> 
                        
                         <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">GRIEVANCE
                                    <span class="caret"></span>
                              </a>
                              <ul class="dropdown-menu">
                                    <li>
                                          <a href="#"style="color: #3d3d3d">STARTUP GRIEVANCE MECHANISM</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                          <a href="/newgre"style="color: #3d3d3d">RAISE A GRIEVANCE</a>
                                    </li>
                                    <li role="separator" class="divider"style="color: #3d3d3d"></li>
                                    <li>
                                          <a href="/track" style="color: #3d3d3d">TRACK YOUR GRIEVANCE</a>
                                    </li>
                                   
                              </ul>
                        </li> 
                        <li>
                              <a href="about.html">FAQs</a>
                        </li>
                         <li>
                              <a href="about.html">About</a>
                        </li>
      
                         <% if(!currentUser){     %>
                         <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">LOGIN
                                    <span class="caret"></span>
                              </a>
                              <ul class="dropdown-menu">
                                    <li>
                                          <a href="/Departmental_login"style="color: #3d3d3d">DEPARTMENTAL LOGIN</a>
                                    </li>
                              </ul>
                         </li>
                         <% } else{ %>
                            <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Signed In As <%= currentUser.username %>
                                    <!--<span class="caret"></span>-->
                              </a>
                              <ul class="dropdown-menu">
                                    <li>
                                          <a href="/logout"style="color: #3d3d3d">LOGOUT</a>
                                    </li>
                              </ul>
                         </li>
                          
                        <% } %>
                  </ul>
            </div>
            <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
</nav>
<!-- content -->

