<% include ./partials/header %>
<div class="container-contact100">

        <div class="wrap-contact100">
            <form class="contact100-form validate-form" action="/loginn" method="POST" >
                <span class="contact100-form-title">
                    DEPARTMENTAL LOGIN
                </span>
                <div class="wrap-input100 validate-input" >
                    <input class="input100"  name="username" placeholder="username" required>
                    <span class="focus-input100"></span>
                </div>
                 <div class="wrap-input100 validate-input">
                    <input class="input100" type="password" name="password" placeholder="Password" required>
                    <span class="focus-input100"></span>
                </div>

               

                <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn" type="submit">
                        <span>
                            <i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
                            Submit
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div id="dropDownSelect1"></div>

<% include ./partials/footer %>


