<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<center>
<br>
<br>
<div class="container" style="border:1px solid black;padding:30px;">
  <h2 style="padding:20 0px 20px 0px;color:black;">Feedback</h2>
  
  <form action="/quer/<%= ide %>" method="POST">
    <div class="form-group" >
      <textarea name="query" class="form-control" rows="10" id="comment"></textarea>
    </div>
	<center><input class="btn btn-primary" type="submit" value="submit" style="padding:12px;border-radius:10px;width:80px;background:#48bdc5"/></center>
	<br>
  </form>
</div>

</center>