<% include ./partials/header %>

<div class="hero-slider">
  <!-- Slider Item -->
  <div class="slider-item slide1" style="background-image:url(images/slider/slider-bg-8.jpg)">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <!-- Slide Content Start -->
                  <div class="content  text-center style">
                      <h2 class="text-white text-bold mb-2">Young india-incredible India!</h2>
                      
                      
                  </div>
                  <!-- Slide Content End -->
              </div>
          </div>
      </div>
  </div>
  <!-- Slider Item -->
  <div class="slider-item" style="background-image:url(images/slider/slider-bg-4.jpg);">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <!-- Slide Content Start-->
                  <div class="content style text-right">
                    <h2 class="text-white text-bold mb-2">Opportunities dont happen,you create them</h2>
                    <p class="tag-text mb-5" style="float:right;font-size:30px;">-Chris Grissev</p>
                      
                  </div>
                  <!-- Slide Content End-->
              </div>
          </div>
      </div>
  </div>
  <!-- Slider Item -->
  <div class="slider-item" style="background-image:url(images/slider/slider-bg-6.jpg)">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <!-- Slide Content Start -->
                  <div class="content text-left style">
                    <h2 class="text-white text-bold mb-2">We repsect your innovations,we respond for your inconvience</h2>

                      
                  </div>
                  <!-- Slide Content End -->
              </div>
          </div>
      </div>
  </div>
</div>

<!--====  End of Page Slider  ====-->

<div class="row container " id="about">
          <div class="col-md-12 container">
            <p class="text-white text-bold mb-2" style="color: black;font-size:17px;">
      
    
             With the collaboration of DPIIT,Govt. of India ,a profound user friendly platform is built for the grievance submission and redressal by the depatment.
             under this website ,any startup holder can register their grievance for there being facing and get resoluted .<br>
             A young population means a young workforce, which, in turn, implies a more innovative and entrepreneurial mind set. The Government is focussed strongly not just on the employability but also on initiating the Startups Incubators/ Centers for developing entrepreneurial skills in the youth.
             Startups in an economy's technology sectors is an important indicator of technological performance for several reasons: first, the formation of new firms that focus on the development and introduction of new technology is a major source of innovation and technological advance. Many of these Startups transfer new knowledge or new ideas into products and processes into commercial applications. Startups are likely to bring in new solutions and challenge established by individuals/ companies that enter these new markets.
             is the platform based on web technology which primarily aims to enable submission of grievances by the aggrieved citizens from anywhere and anytime (24x7) basis to Ministries/Departments/Organisations who scrutinize and take action for speedy and favorable redress of these grievances. Tracking grievances is also facilitated on this portal through the system generated unique registration number.</p>
    
          </div>
        
  </div>

<!--team section-->
<section class="team-section section">
    <div class="container">
        <div class="section-title text-center">
            <!-- <h3>Our Expert
                <span>Doctors</span>
            </h3> -->
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem illo, rerum 
                <br>natus nobis deleniti doloremque minima odit voluptatibus ipsam animi?</p> -->
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12" style="width:300px;height:300px;">
                <div class="team-member">
                    <img src="images/team/modi.jpg" alt="minis" class="img-responsive" style="height:250px;">
                    <div class="contents text-center">
                        <h4>Shri Narendra Modi</h4>
                        <p>Prime Minister of India</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12"  style="width:300px;height:300px;">
                <div class="team-member">
                    <img src="images/team/prabhu.jpg" alt="mins" class="img-responsive" style="height:250px;">
                    <div class="contents text-center">
                      <h4>Shri Suresh Prabhu</h4>
                      <p>Minister of Commerce and Industry</p>
                        
                    </div>
                </div>
                
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12"  style="width:500px;height:auto;">
              <div class="card team-member" style="width:28em;height:auto">
                <ul class="list-group list-group-flush" style="padding:15px;">
                  <center><li class="list-group-item" style="background:#48bdc5;color:white;font-size:22px;">Trending</li></center>
                  <li class="list-group-item">#Trending 1</li>
                  <li class="list-group-item">#Trending 2</li>
                  <li class="list-group-item">#Trending 3</li>
                  <li class="list-group-item">#Trending 4</li>
                  <li class="list-group-item">#Trending 5</li>
                  
                </ul>
              </div>
            </div>
        </div>
    </div>
</section>
<!--End team section-->



<!--<script>-->
<!--  $(window).scroll(startCounter);-->
<!--function startCounter() {-->
<!--  console.log($(window).scrollTop());-->
<!--  if ($(window).scrollTop() > 700) {-->
<!--      $(window).off("scroll", startCounter);-->
<!--      $('.count').each(function () {-->
<!--          var $this = $(this);-->
<!--          jQuery({ Counter: 0 }).animate({ Counter: $this.text() }, {-->
<!--              duration: 4000,-->
<!--              easing: 'swing',-->
<!--              step: function () {-->
<!--                  $this.text(Math.ceil(this.Counter));-->
<!--              }-->
<!--          });-->
<!--      });-->
<!--  }-->
<!--}-->
<!--</script>-->

<% include ./partials/footer %>