<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link id="lnkFavicon" rel="icon" type="image/jpg" href="images/loogo.jpg">
  <title>Startup Grievance Redressal Portal</title>

  
  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- Slick Carousel -->
  <link rel="stylesheet" href="plugins/slick/slick.css">
  <link rel="stylesheet" href="plugins/slick/slick-theme.css">
  <!-- FancyBox -->
  <link rel="stylesheet" href="plugins/fancybox/jquery.fancybox.min.css">
  
  <!-- Stylesheets -->
  <link href="css/style.css" rel="stylesheet">
  
  <!--Favicon-->
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/form.css">

</head>


<body>
  <div class="page-wrapper">
    <!-- Preloader -->
    <!-- <div class="preloader"></div> -->
    <!-- Preloader -->

  

<!--header top-->
<div class="header-top">
      <div class="container clearfix">
            <div class="top-left">
                  <h6></h6>
            </div>
            <div class="top-right">
                  <ul class="social-links">
                        <li>
                              <a href="#">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                              </a>
                        </li>
                        <li>
                              <a href="#">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                              </a>
                        </li>
                        <li>
                              <a href="#">
                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                              </a>
                        </li>
                        <li>
                              <a href="#">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                              </a>
                        </li>
                        <li>
                              <a href="#">
                                    <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                              </a>
                        </li>
                  </ul>
            </div>
      </div>
</div>
<!--header top-->

<!--Header Upper-->
<section class="header-uper">
      <div class="container clearfix">
        <div class="row">                   
          <div class="col-md-6">
                        <div>
                          <div class="row">
                            <div class="col-md-2">
                              <img  class="national_emblem" src="https://dipp.gov.in/sites/all/themes/dipp/images/emblem-dark.png" alt="national emblem">
                            </div>

                            <div class="col-md-10"style="font-size: 20px" >
                                <strong lang="hi">उद्योग संवर्धन और आंतरिक व्यापार विभाग</strong>
                                                <br><p style="font-size: 20px">
                                              Department for Promotion of Industrial and <br>Internal Trade</p>
                            </div>
                          
                                          
                          </div>
                              
                        </div>
                  </div>


                    <div class="right-side col-md-6">
                          <ul >
                                <li> 
                                      <div class="logo">
                                      <figure>
                                    <a href="newfile.html">
                                          <img src="images/Startup-GP-logo-1.png" alt="" width="240"style="float: right;">
                                          <strong style="font-size: 20px"><span style="float: right;">GRIEVANCE REDRESSAL PORTAL</span> </strong>
                                    </a>
                                    </figure>
                                        </div>
                                </li>
                          
                          </ul>
                        
                    </div>
                </div>
      </div>
</section>
</div>
<!--Main Header-->
<nav class="navbar navbar-default">
      <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                  </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                        <li class="active">
                              <a href="log.html">Home</a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">INFORMATION CELL
                                    <span class="caret"></span>
                              </a>
                              <ul class="dropdown-menu">
                                    <li>
                                          <a href="#"style="color: #3d3d3d">...</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                          <a href="submit gre.html"style="color: #3d3d3d">...</a>
                                    </li>
                                    <li role="separator" class="divider"style="color: #3d3d3d"></li>
                                    <li>
                                          <a href="#" style="color: #3d3d3d">...</a>
                                    </li>
                                   
                              </ul>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ECOSYSTEM
                                    <span class="caret"></span>
                              </a>
                              <ul class="dropdown-menu">
                                    <li>
                                          <a href="#"style="color: #3d3d3d">...</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                          <a href="submit gre.html"style="color: #3d3d3d">...</a>
                                    </li>
                                    <li role="separator" class="dstyle="color: #3d3d3d"ivider"></li>
                                    <li>
                                          <a href="#" style="color: #3d3d3d">...</a>
                                    </li>
                                   
                              </ul>
                        </li> 
                       <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">NOTIFICATION
                                    <span class="caret"></span>
                              </a>
                              <ul class="dropdown-menu">
                                    <li>
                                          <a href="#"style="color: #3d3d3d">...</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                          <a href="submit gre.html"style="color: #3d3d3d">...</a>
                                    </li>
                                    <li role="separator" class="divider"style="color: #3d3d3d"></li>
                                    <li>
                                          <a href="#" style="color: #3d3d3d">...</a>
                                    </li>
                                   
                              </ul>
                        </li> 
                        
                         <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">GRIEVANCE
                                    <span class="caret"></span>
                              </a>
                              <ul class="dropdown-menu">
                                    <li>
                                          <a href="#"style="color: #3d3d3d">STARTUP GRIEVANCE MECHANISM</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                          <a href="grievance_submit.html"style="color: #3d3d3d">RAISE A GRIEVANCE</a>
                                    </li>
                                    <li role="separator" class="dstyle="color: #3d3d3d"ivider"></li>
                                    <li>
                                          <a href="#" style="color: #3d3d3d">TRACK YOUR GRIEVANCE</a>
                                    </li>
                                   
                              </ul>
                        </li> 
                        <li>
                              <a href="about.html">FAQs</a>
                        </li>
                         <li>
                              <a href="about.html">About</a>
                        </li>
                        <li>
                              <a href="contact.html">Contact Us</a>
                        </li>

                       
                  </ul>
            </div>
            <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
</nav>
<!-- content -->


<div class="container-contact100">

        <div class="wrap-contact100">
            <form class="contact100-form validate-form">
              <div class="container">
             <h3 class="innerBannerTitle"><span id="ContentPlaceHolder1_TemplateBanner1_lblPageTitle">TRACK GRIEVANCE</span></h3>
             </div>
                <div class="wrap-input100 validate-input" data-validate = "Please enter your email: e@a.x">
                    <input class="input100" type="email" name="email" placeholder="E-mail" required>
                    <span class="focus-input100"></span>
                </div>
                 <div class="wrap-input100 validate-input" data-validate="Please enter Ticket no.">
                    <input class="input100" type="text" name="name" placeholder="Ticket No." required>
                    <span class="focus-input100"></span>
                </div>

               

                <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn">
                        <span>
                            <i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
                            Submit
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>



    <div id="dropDownSelect1"></div>





<!-- end-content -->


































<footer class="footer-main">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="about-widget">
            <div class="footer-logo">
              <figure>
                <a href="log.html">
                  <img src="images/Startup-GP-logo-1.png" alt="" width="130">
                </a>
              </figure>
            </div>
            <p>DEPARTMENT FOR PROMOTION OF INDUSTRY AND INTERNAL TRADE</p>
            <ul class="location-link">
              <li class="item">
                <i class="fa fa-map-marker"></i>
                <p>Udyog Bhawan, New Delhi 110011</p>
              </li>
              <li class="item">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <a href="#">
                  <p>EPABX : 011-23061222,</p>
                </a>
              </li>
              <li class="item">
                <i class="fa fa-fax" aria-hidden="true"></i>
                <p>Fax : 011-23062626</p>
              </li>
            </ul>
            <ul class="list-inline social-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
         
          <ul class="menu-link">
            <li>
              <a href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>Terms of Use</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>Privacy Policy</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>Disclaimer</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>Hyperlinking policy</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>Accessibility Statement</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>Sitemap</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-right" aria-hidden="true"></i>help</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="social-links">
            <h6>Recent Posts</h6>
            <ul>
              <li class="item">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="images/blog/post-thumb-small.jpg" alt="post-thumb">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading"><a href="#">Post Title</a></h4>
                    <p>...................................................</p>
                  </div>
                </div>
              </li>
              <li class="item">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="images/blog/post-thumb-small.jpg" alt="post-thumb">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">
                      <a href="#">Post Title</a>
                    </h4>
                    <p>...................................................</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container clearfix">
      <div class="copyright-text">
        <p>&copy; Copyright 2018. All Rights Reserved by
          <a href="log.html">DIPP</a>
        </p>
      </div>
      <ul class="footer-bottom-link">
        <li>
          <a href="log.html">Home</a>
        </li>
        <li>
          <a href="about.html">About</a>
        </li>
        <li>
          <a href="contact.html">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<!--End footer-main-->

</div>
<!--End pagewrapper-->


<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".header-top">
  <span class="icon fa fa-angle-up"></span>
</div>

<script src="plugins/jquery.js"></script>
<script src="plugins/bootstrap.min.js"></script>
<script src="plugins/bootstrap-select.min.js"></script>
<!-- Slick Slider -->
<script src="plugins/slick/slick.min.js"></script>
<!-- FancyBox -->
<script src="plugins/fancybox/jquery.fancybox.min.js"></script>
<!-- Google Map -->
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script> -->
<!-- <script src="plugins/google-map/gmap.js"></script> -->

<script src="plugins/validate.js"></script>
<script src="plugins/wow.js"></script>
<script src="plugins/jquery-ui.js"></script>
<script src="plugins/timePicker.js"></script>
<script src="js/script.js"></script>
<script type="text/javascript" src="js/main-form.js"></script>
</body>

</html>
