<% include ./partials/header %>
<!-- content -->
<div class="container" style="min-height:500px;">
    <br><br>
<div  style="background: #48bdc5;margin:20px auto 20px auto;padding:30px;border-radius:6px;">
    <center><h3 style="color:white;display: inline-block">Verification link has been sent to your mail,if not recieved </h3><a style="color:white" href="/newgre"><h3 id="click" style="display: inline-block">&nbsp <u>Click Here</u></h3></center></a>

</div>
</div>
<% include ./partials/footer %>

